{% assign avatar_url = 'https://api.dicebear.com/7.x/rings/svg?seed=' | append: current_user.member_hashid %}
<div>
  <input value="page" autocomplete="off" type="hidden" name="page[template_name]">
  <input value="" autocomplete="off" type="hidden" name="page[template_style]">
  <input value="{{ site.settings.is_allow_published }}" autocomplete="off" type="hidden" name="page[published]">
  <input value="" autocomplete="off" type="hidden" name="page[template_variables][status]" x-model="status">
  <input value="" autocomplete="off" type="hidden" name="page[template_variables][board]" x-model="board">
  <input type="hidden" name="page[template_variables][icon]" x-model="icon" value="message-square">
  <input type="hidden" name="page[template_variables][pinned]" value="false" />
</div>
<div class="flex justify-between items-center px-4 pt-4 pb-2">
  <div class="flex items-center">
    <button
      class="flex col-span-3 items-center p-1.5 -m-1.5 truncate rounded-full hover:bg-base-200/40 border-base-300/5"
      type="button">
      <div class="flex overflow-hidden relative flex-shrink-0 justify-center items-center w-7 h-7 rounded-full">
        <div class="absolute inset-0 bg-base-200/30"></div><img
          class="object-cover z-10 w-full h-full rounded-full"
          src="{{ current_user.image |  default: avatar_url }}">
      </div>
    </button>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
      class="mx-1.5 w-4 h-4 secondary-svg">
      <path fill-rule="evenodd"
        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
        clip-rule="evenodd"></path>
    </svg>
    <div data-controller="dropdown" class="relative">
      <button type="button"
      data-action="dropdown#toggle click@window->dropdown#hide"
        class="flex items-center px-1.5 py-1 h-7 text-xs font-medium text-base-content/60 rounded-xl shadow">
        {% render 'icon', name: 'message-square', class: 'mr-1 w-3.5 h-3.5 shrink-0' %}
        <span class="mr-1 -ml-[2px] truncate max-w-[5rem]" x-text="icon"></span>
      </button>
      <div data-dropdown-target="menu"
        class="absolute left-0 z-50 hidden max-h-48 min-w-[10rem] origin-top-left transform overflow-y-auto rounded-xl border border-base-300 bg-base-100 px-2 py-1.5 shadow-lg transition">
        {% assign lucide_icon_lines = site.settings.lucide_icons | newline_to_br | split: '<br />' %}
        {% for icon_line in lucide_icon_lines %}
          {% assign icon_name = icon_line | strip %}
          {% if icon_name != blank %}
          <div
            class="text-sm cursor-pointer py-1 px-1 rounded hover:bg-base-200"
            @click="icon = '{{ icon_name }}'"
            data-action="dropdown#toggle">{{ icon_name }}</div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div data-controller="dropdown" class="relative">
      <button type="button"
      data-action="dropdown#toggle click@window->dropdown#hide"
        class="flex items-center px-1.5 py-1 h-7 text-xs font-medium text-base-content/60 rounded-xl shadow">
        <span class="mr-1 -ml-[2px]" x-text="board_name">
        </span>
      </button>
      <div data-dropdown-target="menu"
        class="absolute right-0 hidden min-w-[10rem] origin-top-right transform rounded-md border border-base-300 bg-base-100 px-2 py-1.5 shadow-lg transition z-50">
        <div class="flex flex-col space-y-2 w-full h-full rounded-md">
          <div
            class="text-sm text-center cursor-pointer hover:bg-base-200 rounded py-1"
            @click="board = 'feature_request'; board_name = {{ 'roadmap.board.feature_request' | t | json }}"
            data-action="dropdown#toggle">{{ 'roadmap.board.feature_request' | t }}
          </div>
          <div
            class="text-sm text-center cursor-pointer hover:bg-base-200 rounded py-1"
            @click="board = 'bug'; board_name = {{ 'roadmap.board.bug' | t | json }}"
            data-action="dropdown#toggle">{{ 'roadmap.board.bug' | t }}
          </div>
          <div
            class="text-sm text-center cursor-pointer hover:bg-base-200 rounded py-1"
            @click="board = 'task'; board_name = {{ 'roadmap.board.task' | t | json }}"
            data-action="dropdown#toggle">{{ 'roadmap.board.task' | t }}
          </div>
          <div
            class="text-sm text-center cursor-pointer hover:bg-base-200 rounded py-1"  @click="board = 'question'; board_name = {{ 'roadmap.board.question' | t | json }}"
            data-action="dropdown#toggle">{{ 'roadmap.board.question' | t }}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if action == 'create' %}
    <a
      href="/"
      class="p-1 rounded bg-transparent shadow-none hover:bg-base-200 main-transition"
      aria-label="{{ 'generic.back' | t }}"
    >
      {% render 'icon', name: 'circle-x', class: 'w-4.5 h-4.5 secondary-svg' %}
    </a>
  {% else %}
    <div class="p-1 bg-transparent shadow-none hover:bg-base-200 rounded"
      data-action="click->dialog-fetch#closeDialog">
      {% render 'icon', name: 'circle-x', class: 'cursor-pointer w-4.5 h-4.5 secondary-svg main-transition' %}
    </div>
  {% endif %}
</div>
<div class="relative px-1 my-1">
  <input name="page[template_variables][title]"
    class="pl-4 w-full text-base font-medium bg-transparent border-0 text-base-content sm:text-lg focus-within:outline-none focus-within:ring-0"
    placeholder="{{ 'form.title_placeholder' | t }}" value="" required>
</div>
<div class="px-1 mb-1">
  <div class="flex flex-col space-y-5">
    <div class="">
      {% assign content = page.settings.content %}
      {% form_field_tag 'richtext', 'page[template_variables][content]', content, toolbar: 'full',
      under_el_id: '#edit-info-bar-container' %}
    </div>
  </div>
</div>
<div class="flex gap-5 justify-between items-center px-4 py-4 ml-auto border-t border-base-300">
  <button class="flex items-center px-1.5 py-0.5 text-[11px] rounded-md create-post-btn truncate max-w-[120px] text-base-content/60"
  type="button" data-action="dropdown#toggle click@window->dropdown#hide">
  <div class="mr-1.5">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
      class="w-3.5 h-3.5 text-primary/60">
      <path fill-rule="evenodd"
        d="M5.05 3.636a1 1 0 010 1.414 7 7 0 000 9.9 1 1 0 11-1.414 1.414 9 9 0 010-12.728 1 1 0 011.414 0zm9.9 0a1 1 0 011.414 0 9 9 0 010 12.728 1 1 0 11-1.414-1.414 7 7 0 000-9.9 1 1 0 010-1.414zM7.879 6.464a1 1 0 010 1.414 3 3 0 000 4.243 1 1 0 11-1.415 1.414 5 5 0 010-7.07 1 1 0 011.415 0zm4.242 0a1 1 0 011.415 0 5 5 0 010 7.072 1 1 0 01-1.415-1.415 3 3 0 000-4.242 1 1 0 010-1.415zM10 9a1 1 0 011 1v.01a1 1 0 11-2 0V10a1 1 0 011-1z"
        clip-rule="evenodd"></path>
    </svg>
  </div><span class="truncate">{{ 'form.status_draft' | t }}</span>
  </button>
  <div class="flex flex-shrink-0 gap-5 items-center ml-auto">
    <div class="hidden gap-2.5 items-center text-xs sm:flex">
    </div><button
      class="btn btn-primary inline-flex justify-center items-center px-3 py-1.5 text-xs font-medium whitespace-nowrap rounded-md main-transition focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-primary disabled:pointer-events-none disabled:opacity-50">{{ 'form.submit_post' | t }}</button>
  </div>
</div>
<ul class="mb-4 ml-6 text-sm list-disc list-inside text-base-content/60">
  <li>{{ 'generic.terms1' | t }}</li>
  <li>{{ 'generic.terms2' | t }}<a href="/s/terms" class="font-semibold text-primary">{{ 'form.disclaimer' | t }}</a>.</li>
</ul>
