{% assign pages = site.pages['/'].children_in_list  %}

  <!-- Main Content -->
<div class="bg-gray-50">
  <main class="container flex flex-col gap-8 px-4 py-8 mx-auto md:flex-row">
    <!-- Feedback List -->
    <turbo-frame id="feedback-list" class="flex-1">
      {% assign order_by = params.sort  %}
      {% if order_by %}
        {% assign pages = pages | order_by: order_by %}
      {% endif %}
      {% query has_pinned from pages %}
        {
          "where": {
            "settings.templates/page.liquid:pinned_eq": "true"
          }
        }
      {% endquery %}
      {% assign has_pinned = has_pinned | size %}
      <!-- 通过 search 对 pages1 结果进行全文搜索, 并渲染结果 -->
      {% assign q_present = params.q | present?  %}
      {% if q_present %}
        {% search pages, keywords: params.q %}
            {% assign pages = search.pages %}
        {% endsearch %}
      {% endif %}
      {% assign query_pages =  pages %}
      {% if has_pinned > 0 %}
        {% query pages from pages %}
        {
          "where": {
            "settings.templates/page.liquid:status_eq": "{{ params.status }}",
            "settings.templates/page.liquid:board_eq": "{{ params.board }}",
            "settings.templates/page.liquid:pinned_eq": "false"
          }
        }
        {% endquery %}
      {% else %}
        {% query pages from pages %}
        {
          "where": {
            "settings.templates/page.liquid:status_eq": "{{ params.status }}",
            "settings.templates/page.liquid:board_eq": "{{ params.board }}"
          }
        }
        {% endquery %}
      {% endif %}

      <!-- Top bar -->
      <div class="flex flex-col gap-3 mb-4 bg-blue-50 rounded-2xl border border-blue-200 md:flex-row md:items-center md:justify-between">
        <div
          class=" p-6 text-[#0a1442] text-base font-normal leading-relaxed"
          >
          <div class="mb-2">
            <span class="text-xl font-bold">{{ page.settings.slogan }}</span>
          </div>
          {{ page.settings.description }}
        </div>
      </div>

      {% render 'filter' %}
      <!-- Feedback List Items -->
      <div class="mt-4 w-full border divide-y dark:divide-border divide-gray-100/60 sm:rounded-lg">
      {% if (params._page == '1' or params._page == nil) and has_pinned > 0  %}
        {% query pinned_pages from query_pages %}
        {
          "where": {
            "settings.templates/page.liquid:status_eq": "{{ params.status }}",
            "settings.templates/page.liquid:board_eq": "{{ params.board }}",
            "settings.templates/page.liquid:pinned_eq": "true"
          }
        }
        {% endquery %}
        {% for page in pinned_pages %}
          {% render 'page', page: page %}
        {% endfor %}
      {% endif %}
        {% paginate_tag pages, per: 12 %}
          {% for page in pages %}
            {% render 'page', page: page %}
          {% endfor %}
        {% endpaginate_tag %}
      </div>
      {% render 'paginate', paginate: paginate %}
    </turbo-frame>

    <!-- Sidebar: Most Helpful -->
    {% assign users = site.users | order_by: '-pages_count' %}
    <aside class="w-full md:w-72">
      <div class="p-4 bg-white rounded shadow">
        <h2 class="mb-4 text-lg font-semibold">贡献榜</h2>
        <ul class="space-y-2">
          {% for user in users %}
          <li class="flex justify-between items-center">
            <span class="text-gray-800">{{user.name}}</span>
            <span class="px-2 py-0.5 text-xs text-gray-600 bg-gray-100 rounded"> {{ user.pages_count }} </span>
          </li>
          {% endfor %}
        </ul>
      </div>
    </aside>
  </main>
  <div aria-roledescription="dialog"
    id="headlessui-dialog" role="dialog" aria-modal="true" data-headlessui-state="open">
  </div>
</div>



{% schema %}
{
"name": "Index",
"description": "Community Index Page Forum Theme",
"thumb_url": "images/theme/index.png",
"sub_page_templates": ["page", "roadmap"],
"settings": [
{
"id": "slogan",
"type": "text",
"label": "站点口号",
"default": "意见反馈指引"
},
{
"id": "description",
"type": "code",
"label": "t:settings_schema.generic.settings.description.label",
"default": "<div class=\"w-full max-w-4xl px-4 mx-auto text-sm leading-relaxed space-y-4\">\n  <p>\n    欢迎您提交反馈与建议！我们非常重视您的声音，您的意见将帮助我们持续优化产品体验。在提交之前，请注意以下几点：\n  </p>\n  <ul class=\"space-y-2 list-disc list-inside\">\n  <li>\n  ✅ <strong>请先搜索已有反馈</strong>，避免重复提交相似建议；\n  </li>\n    <li>\n      ✅ <strong>每次仅反馈一个问题或建议</strong>，便于我们快速理解和处理；\n    </li>\n    <li>\n  📌 <strong>欢迎提交功能建议、体验反馈、使用感受、问题咨询等各类意见</strong>；\n    </li>\n  </ul>\n  <p>\n    🙏 感谢您的宝贵时间与支持！我们会认真阅读每一条反馈，并尽可能在后续版本中持续改进。\n  </p>\n</div>"
}
]
}
{% endschema %}
